@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(239, 246, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#__next
  > div.container.m-auto.mt-12.px-4.py-2.flex.flex-col.w-full
  > div
  > div
  > div
  > div
  > div
  > button
  > span,
#__next
  > div.container.mx-auto.px-4.mt-10
  > div.mt-16.flex.flex-wrap.justify-start.w-full
  > div
  > div
  > div
  > div
  > button
  > span,
#__next
  > div.container.mx-auto.px-4.mt-10
  > div.mt-16.flex.flex-wrap.justify-start.w-full
  > div
  > div
  > div
  > div
  > button
  > span,
#__next
  > div.container.mx-auto.px-4.mt-10
  > div.mt-16.flex.flex-wrap.justify-start.w-full
  > div
  > div
  > div
  > div
  > div
  > button
  > span {
  z-index: 0;
}
